body {
  font-family: "Helvetica", sans-serif;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}
h1, h2, h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3em;
}
img {
  max-width: 100%;
}
pre, code {
  background-color: #f8f8f8;
  padding: 0.5em;
  border-radius: 5px;
  overflow-x: auto;
}
